
<section class="flex-center parallax">
    <h1>Al ser solo código <span class="text-rosa">HTML y JS</span> aseguro el <span class="text-rosa">rendimiento</span> de tu web</h1>
    <div class="grid-container">
        <div>
            <h1 class="circle">100</h1>
            <h2>Accesibilidad</h2>
            <p>
                La accesibilidad web es la práctica inclusiva de garantizar la accesibilidad a los sitios web, y que las herramientas y las tecnologías estén diseñados y desarrollados para que las personas con discapacidad puedan usarlas.
            </p>
        </div>
        <div>
            <h1 class="circle">100</h1>
            <h2>Prácticas recomendadas</h2>
            <p>
                Las mejores prácticas de desarrollo son una serie de reglas que se suelen respetar entre las comunidades de desarrollo web que ayudan a mejorar la calidad de los proyectos.
            </p>
        </div>
        <div>
            <h1 class="circle">100</h1>
            <h2>SEO</h2>
            <p>
                El posicionamiento en buscadores, optimización en motores de búsqueda o SEO es un conjunto de acciones orientadas a mejorar el posicionamiento de un sitio web en la lista de resultados de Google, Bing, u otros buscadores de internet
            </p>
        </div>
    </div>
</section>
