section{
    padding:0rem 1rem;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--violeta);
    color: white;
}
h1{
    padding: 1.5rem 1rem;
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 2rem;
}
.producto{
    background-color: var(--rosa);
    border-radius: 8px;
    
}

.circle{
    width: 120px;
    height: 110px;
    border-radius: 50%;
    border: 4px whitesmoke solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 4rem;
    margin: 0 auto;
}