<section>
    <div class="bg-violeta py-1">
        <h2 class="text-icons hidden" appIntersectionObserver [threshold]="0.5">
           Destinos recomendados de las <br/><span class="text-azul">Islas Vírgenes Británicas</span>
        </h2>
        <div class="row">
            <div class="perspective hidden transDelay-400" appIntersectionObserver [threshold]="0.5">
                <img src="assets/img/bvi/British-Virgin-Islands-7-dias-11.jpg" class="mx-auto d-block perspectiva-y w-100">
            </div>
            <div>
                <ul appIntersectionObserver [threshold]="0.5" class="hidden transDelay-800">
                    <li><span class="pe-2">&#9969;</span> Road Town</li>
                    <li><span class="pe-2">&#9969;</span> Isla de Norman</li>
                    <li><span class="pe-2">&#9969;</span> Isla de Peter</li>
                    <li><span class="pe-2">&#9969;</span> Isla Salt</li>
                    <li><span class="pe-2">&#9969;</span> Isla Cooper</li>
                    <li><span class="pe-2">&#9969;</span> Isla Ginger</li>
                    <li><span class="pe-2">&#9969;</span> The Baths</li>
                    <li><span class="pe-2">&#9969;</span> Little dix Bay</li>
                    <li><span class="pe-2">&#9969;</span> Savannah Bay</li>
                    <li><span class="pe-2">&#9969;</span> Anegada</li>
                    <li><span class="pe-2">&#9969;</span> Cane Garden Bay Beach</li>
                    <li><span class="pe-2">&#9969;</span> Monekey Point</li>
                    <li><span class="pe-2">&#9969;</span> Brewers Bay</li>
                    <li><span class="pe-2">&#9969;</span>  Sandy Spit</li>
                    <li><span class="pe-2">&#9969;</span>  Cayo Sandy</li>
                    <li><span class="pe-2">&#9969;</span>  Jost Van Dike</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-4 bg-azul">
        <div class="hidden" appIntersectionObserver [threshold]="0.5">
            <a href="assets/img/itinerarios/Itinerario sugerido Exumas Bahamas.pdf" target="_blank" class="w-100">
                <div class="container">
                    <img src="assets/img/bahamas/exumas-600-555.webp" class="opaco cuadrada" width="600" height="555">
                    <h2 class="centered">Descargar el itinerario recomendado para Exumas</h2>
                </div>
                
            </a>
        </div>
        <div class="hidden transDelay-400" appIntersectionObserver [threshold]="0.5">
            <a href="assets/img/itinerarios/British Virgin Islands 7 dias.pdf" target="_blank" class="w-100">
                <div class="container">
                    <img src="assets/img/bvi/British_Virgin_Island_600x600.webp" class="opaco cuadrada" width="600" height="555">
                    <h2 class="centered">Descargar el itinerario recomendado para las BVI</h2>
                </div>
            </a>
        </div>
    </div>
</section>


