
<section>
    <div class="flex-column">
        <div class="container">
            <div >
                <h1>
                    Hola Soy <span class="text-azul">Rafu Defelice</span>.
                </h1>
            </div>
            <div>
                <h2>
                    Llevo <span class="text-azul">20 años</span> en el mundo de la <span class="text-azul">programación web</span>.
                    <small>Mi experiencia me permite realizar tu landing page en 24hs y tu sitio en 48.</small>
                </h2>
            </div>
        </div>
        <div class="container-pink">
        
        
        <h3>
            Experiencia profesional.
        </h3>
        <h4>
            Desarrollador en Municipalidad de Hurlingham (2023 hasta hoy)
        </h4>
        <h5>
            <ul>
                <li>Desarrollé herramientas para automatizar los controles de liquidaciones de Tasas.</li>
                <li>Desarrollé una herramienta de gestión de reclamos de vecinos.</li>
                <li>Un sistema con gráficos y filtros de Boca de urna.</li>
            </ul>
        </h5>
    </div>
</div>

</section>
<!--<div>
            <button class="btn-contactanos-big img-center" (click)="scrolling.onClikScroll('contacto')">
                Enviar mensaje
            </button>
        </div>-->