
<section>
    <div>
        <img src="assets/img/MYC_logo_white.png" class="logo" width="682" height="364" title="logo de my yacht company">
    </div>
    <div class="flex-column">
        <div >
            <h1>
                My Yacht Company es líder en <span class="text-azul">alquiler de barcos</span> para navegar en el <span class="text-azul">mar Mediterráneo</span>.
            </h1>
        </div>
        <div>
            <h2>
                Navega en el mediterráneo con la mejor red de empresas de chárter y con las <span class="text-azul">mejores tarifas</span>.
            </h2>
        </div>
    </div>
</section>
