<section role="navigation" aria-label="Enlaces de la página con otro formato">
    <div class="bg-1 hidden" appIntersectionObserver [threshold]="0.5">
        <div class="d-flex">
            <div class="efecto" routerLink="servicios/emprendedores">
                <h4><a href="https://myyachtcompany.com" target="_blank" class="text-white">myyachtcompany.com</a></h4>
            </div>
        </div>
    </div>
    <div class="bg-2 hidden transDelay-400"  appIntersectionObserver [threshold]="0.5">
        <div class="d-flex">
            <div class="efecto">
                <h4><a href="https://daweyachts.com" target="_blank" class="text-primario">daweyachts.com</a></h4>
            </div>
        </div>
    </div>
</section>
