<footer class="text-violeta">
    <div class="flex-4-start">
        <div>
            <h3>MY YACHT COMPANY</h3>
                <p>
                    <a href="https://myyachtcompany.com/nosotros/" alt="ir a nosotros" aria-label="ir a nosotros">Nosotros</a>
                </p>
                <p>
                    <a href="https://myyachtcompany.com/por-que-myc/" alt="ir a porque My Yachts Company" aria-label="ir a My Yachts Company">Por qué MYC</a>
                </p>
                <p>
                    <a href="https://myyachtcompany.com/preguntas-frecuentes/" alt="ir a preguntas frecuentes" aria-label="ir a preguntas frecuentes">Preguntas Frecuentes</a>
                </p>
                <p>
                    <a href="https://myyachtcompany.com/cotizacion/" alt="ir a cotización" aria-label="ir a cotización">Contacto</a>
                </p>
            
        </div>
        <div>
            <h3>DESTINOS TOP</h3>
            
                <p>Grecia</p>
                <p>Islas Baleares</p>
                <p>Mallorca, España</p>
                <p>Ibiza y Formentera, España</p>
                <p>Croacia</p>
                <p>Cerdeña, Italia</p>
                <p>Islas Vírgenes</p>
                <p>Exumas, Bahamas</p>
            
        </div>
        <div>
            <h3>SIGUENOS EN LA REDES</h3>
            
                <p>Grecia</p>
                <p>Islas Baleares</p>
                <p>Mallorca, España</p>
                <p>Ibiza y Formentera, España</p>
                <p>Croacia</p>
                <p>Cerdeña, Itapa</p>
                <p>Islas Vírgenes</p>
                <p>Exumas, Bahamas</p>
            
        </div>
        <div>
            <h3>CONTACTO</h3>
            
                <p>Grecia</p>
                <p>Islas Baleares</p>
                <p>Mallorca, España</p>
                <p>Ibiza y Formentera, España</p>
                <p>Croacia</p>
                <p>Cerdeña, Itapa</p>
                <p>Islas Vírgenes</p>
                <p>Exumas, Bahamas</p>
            
        </div>
    </div>
</footer>
