<section class="breakout">
    <div class="row-2">
        <div class="p-1 perspectiva-y">
            <img ngSrc="{{dataService.dataImages[0].img1}}" alt="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa, aguas cristalinas, playas de arena blanca y una gran cantidad de islas para descubrir" aria-label="Explorar las Bahamas e Islas Vírgenes Británicas en barco"  class="img-uno" width="262" height="549">
        </div>
        <div>
            <div>
                <img ngSrc="{{dataService.dataImages[0].img2}}" alt="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa, aguas cristalinas, playas de arena blanca y una gran cantidad de islas para descubrir"  aria-label="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa, aguas cristalinas, playas de arena blanca y una gran cantidad de islas para descubrir" class="img-dos" width="288" height="176">
            </div>
            <div>
                <img ngSrc="{{dataService.dataImages[0].img3}}" alt="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa, aguas cristalinas, playas de arena blanca y una gran cantidad de islas para descubrir"  aria-label="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa" class="img-tres" width="288" height="285">
            </div>
        </div>
        <div>
            <div>
                <img ngSrc="{{dataService.dataImages[0].img4}}" alt="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa, aguas cristalinas, playas de arena blanca y una gran cantidad de islas para descubrir" aria-label="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa" class="img-cinco" width="288" height="285">
            </div>
            <div>
                <img ngSrc="{{dataService.dataImages[0].img5}}" alt="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa, aguas cristalinas, playas de arena blanca y una gran cantidad de islas para descubrir"  aria-label="Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa" class="img-seis" width="288" height="176">
            </div>
        </div>
        <div class="perspectiva-y-inversa">
            <img ngSrc="{{dataService.dataImages[0].img6}}" alt="Vacaciones en catamaran por grecia" aria-label="Vacaciones en catamaran por grecia"  class="img-uno" width="262" height="549" > <!--appIntersectionObserver [threshold]="0.1"-->
        </div>
    </div>
    <!--<p [innerHTML]="dataService.dataImages[0].txt" class="text-center"></p>-->
    <p class="text-center">"Explorar las Bahamas e Islas Vírgenes Británicas en barco es una experiencia maravillosa, aguas cristalinas, playas de arena blanca y una gran cantidad de islas para descubrir."</p>
</section>
