
<section>
    <div>
        <img src="assets/img/MYC_logo_white-2.webp" class="logo" width="682" height="364" alt="logo de my yacht company" aria-label="logo de my yacht company">
    </div>
    <div class="flex-column">
        <div>
            <h1 [innerHTML]="h1"></h1>
        </div>
        <div>
            <h2 [innerHTML]="h2"></h2>
        </div>
        <div>
            <button class="btn-contactanos" (click)="scrolling.onClikScroll('contacto')" aria-label="Contactanos">Contactanos</button>
        </div>
        
    </div>
</section>
