<div class="slider hidden" appIntersectionObserver [threshold]="0">
    <div [ngClass]="(val === 'izq') ? 'carousel' : 'carousel-r'">
        <div class="carousel-item"   *ngFor="let img of carouselImgs; index as i" [ngClass]="(val === 'izq') ? 'slideLeft' : 'slideRigth'">
            <div class="mascara"   style="--orden:{{i}}" >
                <div class="grid-2">
                    <div>
                        <img [src]="img.img" class="img-carousel">
                    </div>
                    <div class="container-carousel">
                        <h2 class="text-violeta">
                           "{{img.txt}}"
                        </h2>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    
</div>
<div class="flex-between">
    <button (click)="retrocede()" class="btn-carousel">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </button>

    <button (click)="avanza()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>
</div>
