section{
    background-image: url(../../../assets/img/MYC_logo_white.webp);
    background-repeat: no-repeat;
    background-position: top left;
    
}


.dividoEnDos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-item {
    padding: 2rem;
    flex: 50%;
}
  
.row-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    max-width: 100%;
}

.img-uno{
    height:30rem;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    border-radius: 12px;
}
h2{
    font-size: 3rem;
    line-height: 1;
}
h3{
    font-size: 2rem;
    line-height: 1.1;
}




@media only screen and (max-width: 764px){
    h2{
        line-height: 1; 
    }
    h3{
        font-size: 1.6rem;
        line-height: 1.1;
    }
    .dividoEnDos{
        flex-direction: column-reverse;
    }
    .flex-item {
        padding: 1rem;
        flex: 100%;
    }
}
    
