<section>
    <div class="dividoEnDos text-violeta">
        <div class="row-2 flex-item">
            <div>
                <img src="{{dataService.dataImagestxt[0].img2}}" alt="{{dataService.dataImagestxt[0].alt2}}"  aria-label="isla mykonos en grecia"  class="img-uno" width="276" height="480"> <!--appIntersectionObserver [threshold]="0" transDelay-400 hidden-->
            </div>
            <div>
                <img src="{{dataService.dataImagestxt[0].img1}}" alt="{{dataService.dataImagestxt[0].alt1}}" aria-label="disfrutar del mar adriatico"  class="img-uno" width="276" height="480" > <!--appIntersectionObserver [threshold]="0" transDelay-400 hidden-->
            </div>
        </div>
        <div class="flex-item">
            <h4 appIntersectionObserver [threshold]="0.5" class="hidden transDelay-400">Alquila tu catamarán, velero o yate con My Yacht Company.</h4>
            <!--<h2 [innerHTML]="dataService.dataImagestxt[0].h2"></h2>-->
            <h2 appIntersectionObserver [threshold]="0.5" class="hidden">Vive el Caribe de una forma exclusiva</h2>
            <!--<h3 [innerHTML]="dataService.dataImagestxt[0].h3"></h3>-->
            <h3 appIntersectionObserver [threshold]="0.5" class="hidden transDelay-400">¿Un destino imperdible?<br/> <b>Las Islas Vírgenes Britanicas</b>: visitá Normal Island, Peter Island, Salt Island, Cooper Island, Ginger Island, Virgin Gorda, Anegada...</h3>
            <button appIntersectionObserver [threshold]="0.5" class="btn-contactanosb hidden transDelay-800" aria-label="Contactanos" (click)="scrolling.onClikScroll('contacto')">
                Contactanos
            </button>
        </div>
    </div>
</section>
