section{
    padding: 2rem 0rem;
    background-image: url('../../../assets/img/MYC_logo_white.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 300px;
}
.dividoEnDos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 2.7rem;
}
.flex-item {
    padding: 2rem;
    flex: 50%;
}
  
.row-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    
}

.img-uno{
    height:30rem;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    border-radius: 12px;
}
h2{
    font-size: 2.5rem;
    line-height: 1.1;
    font-family: 'Playfair Display', serif;
}
h3{
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;

}




@media only screen and (max-width: 764px){
    h2{
        line-height: 1; 
    }
    h3{
        font-size: 1.6rem;
        line-height: 1.1;
    }
    .dividoEnDos{
        flex-direction: column-reverse;
        padding: 0 1rem;
    }
    .flex-item {
        padding: 1rem 1rem 2.5rem 1rem;
        flex: 100%;
    }
    section{
        background-image: none;
    }
    .img-uno{
        height:19rem;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        border-radius: 12px;
        aspect-ratio: 1;
    }
}
    
