/* You can add global styles to this file, and also import other style files */
body{
    font-family:Roboto Condensed,sans-serif
}
.w-100{
    width:100%;
    max-width:100%
}
.bg-violeta{
    background-color:#1e4769
}
.bg-azul{
    background-color:#a0d3ca
}
.text-white{
    color:#f5f5f5
}
.text-azul{
    color:#a0d3ca
}
.text-violeta{
    color:#1e4769
}
.text-icons{
    text-align:center;
    color:#fff;
    padding:3rem 1.5rem 0rem;
    letter-spacing:1px;
    line-height:1.5
}
.hidden{
    opacity:0;
    transition:all 1s;
    filter:blur(5px);
    transform:translateY(25%)
}
.show{
    opacity:1;
    filter:blur(0);
    transform:translateY(0)
}
.transDelay-200{
    transition-delay:.2s
}
.transDelay-400{
    transition-delay:.4s
}
.transDelay-600{
    transition-delay:.6s
}
.transDelay-800{
    transition-delay:.8s
}
.transDelay-1000{
    transition-delay:1s
}
img{
    box-shadow:5px 10px 10px #120914
}
.flex-4{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:1.5rem
}
.flex-4-start{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:flex-start
}
.flex-4 div{
    margin:2rem 1rem
}
.logo{
    float:left;
    width:250px;
    height:auto;
    box-shadow:none
}
.logo-center{
    width:250px;
    height:auto;
    box-shadow:none
}
.img-center{
    display:block;
    margin:0 auto
}
@media only screen and (max-width:764px){
    .flex-4,.flex-4-start{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:0rem
    }
    .flex-4 div{
        width:90%
    }
}