/* You can add global styles to this file, and also import other style files */
:root{
    --primario: #1e4769;
    --secundario:#a0d3ca;
}

body{
    background-color: var(--primario);
    font-family: Roboto Condensed,sans-serif;
    margin:0;
}

.content-grid{
    --padding-inline: 2rem;
    --content-max-width:160ch;
    --breakout-max-width:85ch;

    display: grid;
    grid-template-columns: 
    [full-width-start] minmax(var(--padding-inline),1fr)
    [breakout-start] 0px 
    [content-start] min(100% - (var(--padding-inline) *2 ),var(--content-max-width)) [content-end] 
    0px  [breakout-end] minmax(var(--padding-inline),1fr)
    [full-width-end];
}

.content-grid > *{
    grid-column: content;
}

.content-grid > .breakout{
    grid-column: breakout;
}

.content-grid > .full-width{
    grid-column: full-width;
}

.w-100{
    width:100%;
    max-width:100%
}
.bg-violeta{
    background-color:var(--primario);
}
.bg-azul{
    background-color:var(--secundario);
}
.text-white{
    color:#f5f5f5
}
.text-azul{
    color:var(--secundario);
}
.text-violeta{
    color:var(--primario);
}
.text-icons{
    text-align:center;
    color:#fff;
    padding:3rem 1.5rem 0rem;
    letter-spacing:1px;
    line-height:1.5
}
.hidden{
    opacity:0;
    transition:all 1s;
    filter:blur(5px);
    transform:translateY(8%)
}
.show{
    opacity:1;
    filter:blur(0);
    transform:translateY(0)
}
.transDelay-200{
    transition-delay:.2s
}
.transDelay-400{
    transition-delay:.4s
}
.transDelay-600{
    transition-delay:.6s
}
.transDelay-800{
    transition-delay:.8s
}
.transDelay-1000{
    transition-delay:1s
}
img{
    box-shadow:5px 10px 10px #120914
}
.flex-4{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:1.5rem
}
.flex-4-start{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:flex-start
}
.flex-4 div{
    margin:2rem 1rem
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:250px;
    height:auto;
    box-shadow:none
}
.logo-center{
    width:250px;
    height:auto;
    box-shadow:none
}
.img-center{
    display:block;
    margin:0 auto
}

.btn-contactanos{
    border-radius: 8px;
    background-color: transparent;
    border: #A0D3CA 1px solid;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;

}

.btn-contactanos:hover{
    border-radius: 8px;
    background-color: #A0D3CA;
    border: #A0D3CA 1px solid;
    color: #120914;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;

}
@media only screen and (max-width:764px){
    .flex-4,.flex-4-start{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:0rem
    }
    .flex-4 div{
        width:90%
    }
    .content-grid{
        --padding-inline: 1rem;
       
    }
}